.scrolling-container {
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.scrolling-track {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 60s linear infinite;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 4rem;
    font-size: 1.2rem;
    color: #ffffff;
    font-style: italic;
    text-align: left;
}

.quote img {
    display: block;
    align-self: flex-start;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}