.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  border: solid 1px #404040;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 1rem;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

.title {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 1rem;
  position: sticky;
  top: 65px;
  width: 32.5%;
}

h1,
p,
h3 {
  margin: 0;
}

.selector {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  gap: 0.5rem;
  color: #9e9e9e;
  position: relative;
}

@media (max-width: 1180px) {
  .title {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 2%;
    right: auto;
    z-index: 9999999;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .description {
    display: none;
  }
}
